anyio 
argon2-cffi 
async-generator==1.10
attrs 
backcall 
bleach 
certifi==2021.5.30
cffi 
colorama 
decorator 
defusedxml 
entrypoints 
idna 
importlib-metadata 
ipykernel
ipython 
ipython-genutils 
ipywidgets
jedi 
Jinja2 
jsonschema 
jupyter-client 
jupyter-core 
jupyter-server 
jupyterlab-pygments 
jupyterlab-widgets 
MarkupSafe 
mistune 
nbclient 
nbconvert 
nbformat 
nest-asyncio
notebook 
packaging 
pandocfilters==1.4.2
parso==0.7.0
pickleshare 
prometheus-client 
prompt-toolkit 
pycparser 
Pygments 
pyparsing==2.4.7
pyrsistent 
python-dateutil 
pywin32==228
pywinpty 
pyzmq==20.0.0
Send2Trash 
six 
sniffio 
terminado==0.9.4
testpath 
tornado
traitlets 
voila 
wcwidth
webencodings==0.5.1
widgetsnbextension 
wincertstore==0.2
zipp
